@page
@model IndexModel
   


<div class="text-center">
    <h1 class="display-4">Customer Personal Details</h1>
     
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.personalDetails[0].NRIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personalDetails[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personalDetails[0].Email)
            </th>
          
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.personalDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NRIC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
